.page {
   background-color: #ffffff;
}

.section {
  padding: 2rem;
}

.subTitle {
    color: hsl(334, 100%, 50%);
}

.footer {
    width: 100%;
    max-width: 100%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    padding: .5rem 1rem;
  }
  .navList {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  
.navList a {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
  
    transition: color 100ms;
}
  
.navList a:hover {
    color:#888;
}

.heading {
    margin-bottom: 0.5rem;
}

.date {
    color: #777777;
    font-style: italic;
    margin-bottom: 1rem;
}
.paragraph {
    padding: 0.5rem 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1rem;
}
.sectionContact {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.emailTitle {
    font-weight: bold;
}

.email {
    padding: 0 0.5em;
}

.email:hover,
.email:focus {
    color: hsl(334, 100%, 50%);
}

@media (max-width: 700px) {
    .nav {
        flex-direction: column;
    }
}