.page {
  --title-duration: 500ms;
  --sub-title-duration: 500ms;
  --nav-duration: 200ms;
  --btn-grow-duration: 200ms;
  --scroll-down-duration: 200ms;

  --sub-title-delay: calc(var(--title-duration) - 200ms);
  --nav-delay: calc(var(--sub-title-delay) + var(--sub-title-duration));
  --btn-grow-delay: var(--nav-delay);
  --scroll-down-delay: var(--nav-delay);

 background-color: #ffffff;
}

.header {
  height: 100vh;
  background-image: url('../../public/image/cover.jpg');
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  position: relative;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  padding: .5rem 1rem;
}

.navTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  animation: nav-enter var(--nav-duration) var(--nav-delay) backwards;
}

.navList {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.navList a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;

  transition: color 100ms;
}

.navList a:hover {
  color:#888;
}

.title {
  font-size: 3rem;
  margin: 0;

  animation: title-enter var(--title-duration);
}

.subTitle {
  font-size: 1.5rem;
  margin-top: .3rem;
  margin-bottom: 1rem;

  animation: sub-title-enter var(--sub-title-duration) var(--sub-title-delay) backwards;
}

.btn {
  background-color: hsl(334, 63%, 50%);
  color: white;
  border-radius: 10000px;
  padding: .25em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  
  transition: 100ms;
}

.btn:hover,
.btn:focus {
  background-color: hsl(334, 100%, 50%);
}

.scrollDownIcon {
  position: absolute;
  bottom: 1rem;
  width: 30px;

  animation:
    scroll-down-bounce calc(var(--scroll-down-duration) + var(--scroll-down-delay)) 1s alternate infinite linear,
    scroll-down-enter var(--scroll-down-duration) var(--scroll-down-delay) backwards;
}

.section {
  padding: 2rem;
}

.sectionTitle {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.trackGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 450px));
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px;
}

.trackGridItem {
  display: flex;
  align-items: center;
}

.trackGridItem:hover img {
  animation: shake 200ms;
}

.trackGridItem img {
  width: 50px;
  margin-right: 1rem;
}

.sectionAccent {
  background-color: hsl(329, 75%, 56%);
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form label {
  color: black;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  margin-top: .25rem;
  margin-bottom: .75rem;
  outline: none;
  border: 1px solid #1B2522;
  border-radius: .3em;
  padding: .5em;
  color: inherit;
  font-family: inherit;

  transition: border-color 100ms;
}

.form textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.form input:focus,
.form textarea:focus {
  border-color: #0AF;
}

.btnContainer {
  text-align: end;
}

.btnSquare {
  border-radius: .3em;
}

.pricingCardsContainer {
  display: flex;
  justify-content: center;
}

.pricingCard {
  padding: 1rem;
  background-color: hsl(322, 50%, 87%);
  border: 1px solid black;
  border-radius: .3em;
  margin: 1rem 0;

  transition: transform 100ms;
}

.pricingCard:hover {
  transform: scale(1.05);
}

.pricingCardAccent {
  background-color: white;
  margin: 0;
}

.pricingCard:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  transform-origin: right;
}

.pricingCard:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  transform-origin: left;
}

.priceHeader {
  text-align: center;
  margin-bottom: 1.5rem;
}

.planName {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.planPrice {
  font-size: 2rem;
  font-weight: bold;
}

.planPrice::after {
  content: '/mo';
  font-size: .75rem;
  color: #777;
}

.feature {
  margin-bottom: .5rem;
}


.feature:last-child {
  margin-bottom: 0;
}

.btnGrow {
  padding: 1em 2em;
  animation: btn-grow-enter var(--btn-grow-duration) var(--btn-grow-delay) backwards;
}

.btnGrow:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 5px 1px hsl(334, 39%, 31%);
}

.appLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appLinks a {
  margin: 0 10px;
}

@keyframes scroll-down-bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}

@keyframes shake {
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}

@keyframes title-enter {
  from {
    transform: translateX(-100vw);
  }
}

@keyframes sub-title-enter {
  from {
    transform: translateX(100vw);
  }
}

@keyframes nav-enter {
  from {
    transform: translateY(-100%);
  }
}

@keyframes btn-grow-enter {
  from {
    transform: scale(0);
  }
}

@keyframes scroll-down-enter {
  from {
    transform: scale(0) rotate(180deg);
  }
}



.footer {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 700px) {
  .nav {
    flex-direction: column;
}

.navList {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
  .trackGrid {
    grid-template-columns: minmax(auto, 450px);
    row-gap: 30px;
  }

  .header {
    background-position-x: 65%;
  }

  .pricingCardsContainer {
    flex-wrap: wrap;
  }

  .pricingCard,
  .pricingCardAccent {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }

  .pricingCard:first-child,
  .pricingCard:last-child {
    border-radius: .3em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    transform-origin: center;
  }

  .pricingCard:last-child {
    margin-bottom: 0;
  }

  .feature {
    text-align: center;
  }
}